*{
    margin: 0px;
    padding: 0PX;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    background: linear-gradient(50deg, #2e5bd6, #ff5100);
}

.tela_de_inscrição{
    background-color: rgb(255, 255, 255);
    margin: 100px 300px 100px 350px;
    border: 350px;
    padding: 100px 250px 100px 250px;
    border-radius: 20px;
    box-shadow: 10px 20px grey;
    text-align: center;
}

.inf_pessoal{
    border-radius: 30px;
    font-family: 'Times New Roman', Times, serif;
    background: #dd835a;
    font-size: larger;
    padding: auto;
}
.contato{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ff5100;
    border-radius: 30px;
    border: groove ;
    box-shadow: 10px 20px gray;
    
}

.academic{
    border-radius: 30px;
    border:groove;
    border-color: #ff5100;
}

.Profss{
    border: dashed;
    border-color: #2e5bd6;
}

form{
    border: 100px, groove #ff5100;
    border:500px ;
}
textarea {
    height: 300px;
    width: 400px;
    margin: 30px 0 25px 0;
    padding: 10px;
    font-size: 18px;
}

button{
    padding: 15px;
    border-radius: 30px;
    background: #dd835a;
    font-size: larger;
}